<ion-header>
  <ion-toolbar class="bana">
    <ion-title color="light" class="ion-text-center">
      <ion-grid>
        <ion-col>
          <ion-row>
            <ion-searchbar color="light" mode="ios"></ion-searchbar>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row justify-content-center>
            <!--change to dynamique-->
            <span class="idapp">{{title}}</span>
            <!--change to dynamique-->
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bana">
  <div class="ion-padding">
    <!--dynamique cards-->
    
    <ion-card class="banaseconde"  *ngFor="let item of collect ; index as i" (click)="onClick(i)" >
      <img pr="1920x1080"
        src={{item.thumb}}/>
      <ion-card-header>
        <ion-card-subtitle color="light">{{item.time}}</ion-card-subtitle>
        <ion-card-title color="light">{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.desc}}
      </ion-card-content>
    </ion-card>
    <!--dynamique cards-->
  </div>
</ion-content>