
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.backgroundo{
    --background: #000;
}
.idapp{
    font-family: 'Righteous', cursive;
    color: #FF9900;
}
.bana{
    --background: 	#000;
}
.banaseconde{
    --background:#181818;
}
.titlocard{
    font-family: 'Righteous', cursive;
    color: white;
}
.subtitlo{
    color: #5B4C6B;
}

.tumsizo{
    --border-radius:60px;
    --size : 60%;
}
ion-button{
    --background : #FF9900;
    color: #000;
}
.changeC{
    color: #FF9900;
}
.changeCC{
    color: #fff;
}