<ion-header>
  <ion-toolbar class="bana">
    <ion-title color="light" class="ion-text-center">
      <ion-grid>
        <ion-col>
          <ion-row justify-content-center>
            <br />
            <span class="idapp">{{data.name}}</span>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bana">
  <div class="ion-padding">
    <!--dynamique cards-->
    <ion-card class="banaseconde">
      <img pr="1920x1080" src={{data.thumb}} />
      <ion-card-header>
        <ion-card-title color="light">{{data.name}}</ion-card-title>
        <ion-card-subtitle color="light">{{data.time}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{data.desc}}
      </ion-card-content>
    </ion-card>
    <ion-card class="banaseconde">
      <ion-card-header>

        <ion-card-title color="light">Video Player</ion-card-title>
        <ion-card-subtitle color="light">Your video's gonna be loaded here!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="openStrm(link)" mode="ios">
          <span>1080p</span>
          <ion-icon name="play-circle"></ion-icon>
        </ion-button>
        <ion-button expand="block" (click)="openStrm2(link2)" mode="ios" >
          <span>720p</span>
          <ion-icon name="play-circle"></ion-icon>
        </ion-button>
        <ion-button expand="block" (click)="openStrm3(link3)" mode="ios" >
          <span>480p</span>
          <ion-icon name="play-circle"></ion-icon>
        </ion-button>
        <ion-button expand="block" (click)="openStrm4(link4)" mode="ios" >
          <span>360p</span>
          <ion-icon name="play-circle"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!--dynamique cards-->
  </div>
</ion-content>