<ion-header>
  <ion-toolbar class="bana">
    <ion-title color="light" class="ion-text-center">
      <ion-grid>
        <ion-col>
          <ion-row justify-content-center>
            <img src="../../assets/img/logo.PNG" width="200" />
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bana">
  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','WAR']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="jet"></ion-icon>
              <ion-card-title color="light" class="titlocard">WAR</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','ACTIONS']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="flame"></ion-icon>
              <ion-card-title color="light" class="titlocard">Action</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','COMEDIES']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="happy"></ion-icon>
              <ion-card-title color="light" class="titlocard">Comedy</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','HORRORS']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="planet"></ion-icon>
              <ion-card-title color="light" class="titlocard">Horror</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','ADVENTURES']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="moon"></ion-icon>
              <ion-card-title color="light" class="titlocard">Ventur</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','HISTORICALS']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="filing"></ion-icon>
              <ion-card-title color="light" class="titlocard">History</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','WESTERNS']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="heart"></ion-icon>
              <ion-card-title color="light" class="titlocard">Romantic</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','MUSICALS']">
          <ion-card-header>
            <ion-card-header>
                <ion-icon name="play"></ion-icon>
              <ion-card-title color="light" class="titlocard">Musical</ion-card-title>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>