@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.backgroundo{
    --background: #000;
}
.idapp{
    font-family: 'Faster One', cursive;
    color: white;
}
.bana{
    --background: #000;
}
.banaseconde{
    --background:#181818;
}
.titlocard{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
}
.subtitlo{
    color: #5B4C6B;
}
ion-icon {
    font-size: 60px;
    display: contents;
    color: #FF9900;
  }
  