@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.backgroundo{
    --background: black;
}
.idapp{
    font-family: 'Bungee Inline', cursive;
    color: white;
}
.bana{
    --background: #0C0C0C;
}
.banaseconde{
    --background:#181818;
}
.titlocard{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
}
.subtitlo{
    color: #5B4C6B;
}
