<ion-header>
  <ion-toolbar class="bana">
    <ion-title color="light" class="ion-text-center">
      <ion-grid>
        <ion-col>
          <ion-row>
            <ion-searchbar color="light" mode="ios"></ion-searchbar>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row justify-content-center>
            <span class="idapp">Essoulima</span>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bana">
  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde"  [routerLink]="['/filmsbygenre','DRAMA']" >
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/theater.png" alt="">
              <ion-card-title color="light" class="titlocard">Drama</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','ACTIONS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/swords.png" alt="">
              <ion-card-title color="light" class="titlocard">Action</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','COMEDIES']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/clown.png" alt="">
              <ion-card-title color="light" class="titlocard">Comedy</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','HORRORS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/ghost.png" alt="">
              <ion-card-title color="light" class="titlocard">Horror</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','ADVENTURES']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/adventurer.png" alt="">
              <ion-card-title color="light" class="titlocard">Adventure</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','HISTORICALS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/coliseum.png" alt="">
              <ion-card-title color="light" class="titlocard">Historical</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','WENSTERNS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/cowboy-hat.png" alt="">
              <ion-card-title color="light" class="titlocard">Wensters</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','MUSICALS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/violin.png" alt="">
              <ion-card-title color="light" class="titlocard">Musical</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>