<ion-header>
  <ion-toolbar class="bana">
    <ion-title color="light" class="ion-text-center">
      <ion-grid>
        <ion-col>
          <ion-row justify-content-center>
            <span class="idapp">Essoulima</span>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bana">
  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','DRAMA']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/lv.png" alt="">
              <ion-card-title color="light" class="titlocard">Drama</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','ACTIONS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/ak.png" alt="">
              <ion-card-title color="light" class="titlocard">Action</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','COMEDIES']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/lol.png" alt="">
              <ion-card-title color="light" class="titlocard">Comedy</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','HORRORS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/eye.png" alt="">
              <ion-card-title color="light" class="titlocard">Horror</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','ADVENTURES']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/burn.png" alt="">
              <ion-card-title color="light" class="titlocard">Ventur</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','HISTORICALS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/wes.png" alt="">
              <ion-card-title color="light" class="titlocard">History</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','WESTERNS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/cow.png" alt="">
              <ion-card-title color="light" class="titlocard">Wester</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="banaseconde" [routerLink]="['/filmsbygenre','MUSICALS']">
          <ion-card-header>
            <ion-card-header>
              <img src="../../assets/img/music.png" alt="">
              <ion-card-title color="light" class="titlocard">Musical</ion-card-title>
              <ion-card-subtitle class="subtitlo">Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>